@failure-color: #CC3700;
@pending-color: DarkGoldenRod;
@success-color: #009B00;

.hspec-failure {
  color: @failure-color;
}

.hspec-pending {
  color: @pending-color;
}

.hspec-success {
  color: @success-color;
}

.highlight .hspec .sd {
  color: @success-color;
}

.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

h1.page-heading {
  a {
    color: inherit;
    text-decoration: none;
  }
  .sub {
    color: gray;
  }
}
