@import "pygments";
@import "use";

* {
  margin:  0;
  padding: 0;
}

html {
  // Arimo and "Liberation Sans" are basically the same font, both are metric
  // compatible with Arial.  So showing "Liberation Sans"/Arial until Arimo is
  // loaded should make FOUT almost unnoticeable.
  font-family: Arimo, "Liberation Sans", Arial, sans-serif;

  // always show vertical scroll bar
  overflow-y: scroll;
}

body {
  .font-size(14);
  .line-height(20);
  color: #333;
  background-color: #fff;
}

p, ul, ol, pre, h1, h2, h3, h4, h5, h6 {
  .margin-bottom(20);
}

h1, h2, h3, h4, h5, h6 {
  .margin-top(40);
  color: #222;
  font-weight: 400;
}

h1 { .font-size(24); }
h2 { .font-size(22); }
h3 { .font-size(18); }

pre, code, kbd, samp, tt {
  font-family: Cousine, "Liberation Mono", "Courier New", monospace;
  .font-size(12);
  background-color: #F8F8F8;
}

p code {
  line-height: 1em;

  .margin-left(2);
  .margin-right(2);
  .padding-left(5);
  .padding-right(5);

  border: 1px dotted #CCC;
  border: (@scaleRem) dotted #CCC;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  word-wrap:   break-word;     /* Internet Explorer 5.5+ */

  .padding(9);

  border: 1px dotted #CCC;
  border: (@scaleRem) dotted #CCC;
}

@failure-color: #CC3700;
@pending-color: DarkGoldenRod;
@success-color: #009B00;

.hspec-failure {
  color: @failure-color;
}

.hspec-pending {
  color: @pending-color;
}

.hspec-success {
  color: @success-color;
}

.highlight .hspec .sd {
  color: @success-color;
}

.container {
  margin: 0 auto;
  .padding-left(20);
  .padding-right(20);
  .max-width(560);
}

h1.page-heading {
  a {
    color: inherit;
    text-decoration: none;
  }
  .sub {
    color: gray;
  }
}
