addSpecTransformation :: (Config -> [Test.Hspec.Core.Extension.Tree.SpecTree] -> [Test.Hspec.Core.Extension.Tree.SpecTree]) -> Config -> Config
type ColorMode :: *
data ColorMode
  | ColorAuto
  | ColorNever
  | ColorAlways
type Config :: *
data Config = Config
  ignoreConfigFile :: Bool
  dryRun :: Bool
  focusedOnly :: Bool
  failOnEmpty :: Bool
  failOnFocused :: Bool
  failOnPending :: Bool
  failOnEmptyDescription :: Bool
  printSlowItems :: Maybe Int
  printCpuTime :: Bool
  failFast :: Bool
  randomize :: Bool
  seed :: Maybe Integer
  failureReport :: Maybe FilePath
  rerun :: Bool
  rerunAllOnSuccess :: Bool
  filterPredicate :: Maybe (Path -> Bool)
  skipPredicate :: Maybe (Path -> Bool)
  quickCheckMaxSuccess :: Maybe Int
  quickCheckMaxDiscardRatio :: Maybe Int
  quickCheckMaxSize :: Maybe Int
  quickCheckMaxShrinks :: Maybe Int
  smallCheckDepth :: Maybe Int
  colorMode :: ColorMode
  unicodeMode :: UnicodeMode
  diff :: Bool
  diffContext :: Maybe Int
  externalDiff :: Maybe (Maybe Int -> String -> String -> IO ())
  prettyPrint :: Bool
  prettyPrintFunction :: Bool -> String -> String -> (String, String)
  formatException :: GHC.Exception.Type.SomeException -> String
  times :: Bool
  expertMode :: Bool
  htmlOutput :: Bool
  concurrentJobs :: Maybe Int
  annotations :: hspec-core:Test.Hspec.Core.Annotations.Annotations
type Path :: *
type Path = ([String], String)
type UnicodeMode :: *
data UnicodeMode
  | UnicodeAuto
  | UnicodeNever
  | UnicodeAlways
getAnnotation :: base:Data.Typeable.Internal.Typeable value => Config -> Maybe value
setAnnotation :: base:Data.Typeable.Internal.Typeable value => value -> Config -> Config
