type ColorMode :: *
data ColorMode
  | ColorAuto
  | ColorNever
  | ColorAlways
type Config :: *
data Config = Config
  configIgnoreConfigFile :: Bool
  configDryRun :: Bool
  configFocusedOnly :: Bool
  configFailOnEmpty :: Bool
  configFailOnFocused :: Bool
  configFailOnPending :: Bool
  configPrintSlowItems :: Maybe Int
  configPrintCpuTime :: Bool
  configFailFast :: Bool
  configRandomize :: Bool
  configFailureReport :: Maybe FilePath
  configRerun :: Bool
  configRerunAllOnSuccess :: Bool
  configFilterPredicate :: Maybe (Path -> Bool)
  configSkipPredicate :: Maybe (Path -> Bool)
  configQuickCheckSeed :: Maybe Integer
  configQuickCheckMaxSuccess :: Maybe Int
  configQuickCheckMaxDiscardRatio :: Maybe Int
  configQuickCheckMaxSize :: Maybe Int
  configQuickCheckMaxShrinks :: Maybe Int
  configSmallCheckDepth :: Maybe Int
  configColorMode :: ColorMode
  configUnicodeMode :: UnicodeMode
  configDiff :: Bool
  configDiffContext :: Maybe Int
  configExternalDiff :: Maybe (Maybe Int -> String -> String -> IO ())
  configPrettyPrint :: Bool
  configPrettyPrintFunction :: Bool -> String -> String -> (String, String)
  configTimes :: Bool
  configAvailableFormatters :: [(String, Test.Hspec.Core.Format.FormatConfig -> IO Test.Hspec.Core.Format.Format)]
  configFormat :: Maybe (Test.Hspec.Core.Format.FormatConfig -> IO Test.Hspec.Core.Format.Format)
  configFormatter :: Maybe hspec-core:Test.Hspec.Core.Formatters.V1.Monad.Formatter
  configHtmlOutput :: Bool
  configConcurrentJobs :: Maybe Int
type Path :: *
type Path = ([String], String)
type UnicodeMode :: *
data UnicodeMode
  | UnicodeAuto
  | UnicodeNever
  | UnicodeAlways
modifyConfig :: (Config -> Config) -> hspec-core:Test.Hspec.Core.Spec.Monad.SpecWith a
