name: publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: sol/haskell-autotag@v1
        id: autotag
        with:
          prefix:

      - run: cabal sdist hspec.cabal hspec-discover hspec-core

      - uses: haskell-actions/hackage-publish@b88057d
        with:
          hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
          publish: true
        if: steps.autotag.outputs.created
